<div
  [ngClass]="
    isDarkEnable.value
      ? 'dark bg-zinc-900 text-zinc-400 max-w-screen '
      : 'bg-white text-zinc-600 max-w-screen '
  "
>
  <app-header
    [isDarkEnable]="isDarkEnable"
    [isMenuOpen]="isMenuOpen"
    (changeMenuOpen)="menu($event)"
  ></app-header>
  <div class="flex gap-4 min-h-v-90 mt-1">
    <app-sidebar
      [isMenuOpen]="isMenuOpen"
      [ngClass]="isMenuOpen.value ? 'w-6/12' : 'w-1/12'"
      class="duration-500 shadow-zinc-900/30 dark:shadow-white/80 shadow"
    ></app-sidebar>
    <main class="flex flex-col gap-y-4 p-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
        nostrum impedit. Ad modi saepe perferendis neque error consequuntur
        incidunt, illo esse nulla beatae deleniti, pariatur eos nam doloribus
        dignissimos suscipit? Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Illum iste adipisci nisi autem tempore? Non, dolores
        eligendi. Voluptatibus impedit optio eius culpa perspiciatis odio cumque
        hic dolorum blanditiis! Perferendis, quis!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
        nostrum impedit. Ad modi saepe perferendis neque error consequuntur
        incidunt, illo esse nulla beatae deleniti, pariatur eos nam doloribus
        dignissimos suscipit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
        nostrum impedit. Ad modi saepe perferendis neque error consequuntur
        incidunt, illo esse nulla beatae deleniti, pariatur eos nam doloribus
        dignissimos suscipit? Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Nulla recusandae eum tempora culpa in animi cumque, omnis ipsum
        enim quidem facere, magnam ducimus aliquam, neque provident ut non
        maiores quaerat!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
        nostrum impedit. Ad modi saepe perferendis neque error consequuntur
        incidunt, illo esse nulla beatae deleniti, pariatur eos nam doloribus
        dignissimos suscipit?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
        nostrum impedit. Ad modi saepe perferendis neque error consequuntur
        incidunt, illo esse nulla beatae deleniti, pariatur eos nam doloribus
        dignissimos suscipit?
      </p>
    </main>
  </div>
</div>
